#header {
	height: 4em;
}

#banner {
	background-image: url(/application/themes/fitflex/images/bannerhomepage.jpg);
	padding: 8em 0 20em 0;
	background-size: cover;
}

#banner img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}
#banner input[type="submit"]:hover, #banner input[type="reset"]:hover, #banner input[type="button"]:hover, #banner .button:hover {
    background-color: rgba(0,190,255,0.4);
}

#bannertext {
	padding:15px 0;
	background-color: rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
	box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
}
@media screen and (max-width: 736px)
{
	/*#banner img {
		width: 80%;
		height: auto;
	}*/
}